HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### ETC ###
bin
build
dist
gen
out
reports
target
module_*.xml
.DS_Store
.git
.gradle
.metadata
.pmd
.svn
~$*
*~
*.bak
*.class
*.log
*.swp
catalina.base*
Thumbs.db
catalina.base*
